image:
  name: registry.gitlab.com/magic7s/k8s-hybrid-cloud:latest
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

before_script:
  - gcloud --version
  - kubectl version --client=true
  - terraform --version
  - helm init --client-only
  - helm repo add istio https://s3-us-west-2.amazonaws.com/vxlan.io/charts
  - mkdir -p ~/.gcp
  - echo $GCPCRED | base64 -d > ~/.gcp/k8s-hybrid-cloud-0f1ceb09cf2a.json
  - gcloud auth activate-service-account --key-file=/root/.gcp/k8s-hybrid-cloud-0f1ceb09cf2a.json
  - gcloud config set core/project k8s-hybrid-cloud
  - gcloud config set compute/region us-west1
  - gcloud config set compute/zone us-west1-a
  - gcloud container clusters list
  - terraform init

stages:
  - build
  - validate
  - plan
  - apply
  - destroy

docker build:
  image: docker:stable
  variables:
    CONTAINER_IMAGE: registry.gitlab.com/$CI_PROJECT_PATH
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  services:
  - docker:dind
  stage: build
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker pull $CONTAINER_IMAGE:latest || true
    - docker build --cache-from $CONTAINER_IMAGE:latest --tag $CONTAINER_IMAGE:$CI_COMMIT_SHA --tag $CONTAINER_IMAGE:latest .
    - docker push $CONTAINER_IMAGE:$CI_COMMIT_SHA
    - docker push $CONTAINER_IMAGE:latest
  only:
    changes:
      - Dockerfile
      
      
validate:
  stage: validate
  script:
    - terraform validate

plan:
  stage: plan
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - ~/.helm/
      - kubeconfig_gke-hybrid-cloud
      - kubeconfig_eks-hybrid-cloud
      - config-map-aws-auth_eks-hybrid-cloud.yaml
      - remote-cluster-auth
  script:
    - terraform plan -out "planfile"
  dependencies:
    - validate
  artifacts:
    paths:
      - planfile

apply:
  stage: apply
  retry: 1
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - ~/.helm/
      - kubeconfig_gke-hybrid-cloud
      - kubeconfig_eks-hybrid-cloud
      - config-map-aws-auth_eks-hybrid-cloud.yaml
      - remote-cluster-auth
  script:
    - terraform apply -input=false -auto-approve
  dependencies:
    - plan
  artifacts:
    paths:
      - kubeconfig_gke-hybrid-cloud
      - kubeconfig_eks-hybrid-cloud
      - config-map-aws-auth_eks-hybrid-cloud.yaml
      - remote-cluster-auth
    when: always
  when: manual
  
destroy:
  stage: destroy
  retry: 1
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - ~/.helm/
      - kubeconfig_gke-hybrid-cloud
      - kubeconfig_eks-hybrid-cloud
      - config-map-aws-auth_eks-hybrid-cloud.yaml
      - remote-cluster-auth
  script:
    - terraform destroy -auto-approve
  dependencies:
    - apply
  when: manual